<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creativitude.jeewa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity
            android:name=".Dashboard"
            android:configChanges="locale|orientation">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="locale|orientation"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Register"
            android:label="@string/label_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CreatePost"
            android:label="Create Post"
            android:theme="@style/AppTheme2">

            <!-- use AppTheme2 for activities with drawer -->
        </activity>
        <activity
            android:name=".activity.RequestPost"
            android:label="Request"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.AllRequests"
            android:label="@string/requests"
            android:theme="@style/AppTheme2" />

        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->

        <activity android:name=".activity.NearbyUsers" />
        <activity
            android:name=".activity.MyActivities"
            android:label="@string/title_activity_my_activities"
            android:theme="@style/AppTheme2" />
        <activity android:name=".activity.Responses" />
        <activity
            android:name=".activity.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.Notifications" />
        <activity android:name=".activity.Drawer" />
        <activity
            android:name=".helpers.SelectLanguage"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".InfoList"
            android:label="Important Information"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DonorSelectionInfo" />
        <activity android:name=".activity.BeforeTransfusionInfo" />
        <activity android:name=".activity.BloodGroupInfo" />
        <activity android:name=".activity.RisksInfo" />
        <activity android:name=".activity.EditProfile"></activity>
    </application>

</manifest>